<launch>
  <!--  
    Right now, the android app is hard coded to look for /cmd_vel as the input
    topic.
   -->
  <arg name="application_namespace"/>
  <arg name="simulation" default="false"/>
  <group unless="$(arg simulation)">
    <!-- Make a slower camera feed available. -->
    <node pkg="topic_tools" type="relay" name="relay_string" output="screen" args="/text_to_speech/text /speech">
      <param name="lazy" value="false"/>
    </node>

    <node pkg="rostopic" type="rostopic"  name="notifier" args="pub /speech std_msgs/String 'Speech ready' --once"/>
  </group>

  <!-- for gazebo simulation -->
  <group if="$(arg simulation)">
  </group>
</launch>
