<launch>
  <!--  
    Right now, the android app is hard coded to look for /cmd_vel as the input
    topic.
   -->
  <arg name="application_namespace"/>
  <arg name="simulation" default="false"/>
  <group unless="$(arg simulation)">

    <!-- Walker -->
    <include file="$(find nao_apps)/launch/walker.launch" />

    <!-- Make a slower camera feed available. -->
    <node pkg="topic_tools" type="relay" name="relay_cmd_vel" output="screen" args="/teleop/cmd_vel cmd_vel">
      <param name="lazy" value="false"/>
    </node>

    <!-- Relay for image -->
    <node pkg="rocon_python_utils" type="image_converter" name="image_converter" args="compressed" required="true" output="screen">
      <remap from="image" to="/nao_robot/camera/top/camera/image_raw"/>
      <remap from="image/compressed" to="/teleop/compressed_image"/>
    </node>

    <node pkg="rostopic" type="rostopic"  name="notifier" args="pub /speech std_msgs/String 'walker ready' --once"/>
  </group>

  <!-- for gazebo simulation -->
  <group if="$(arg simulation)">
  </group>
</launch>
